*{
    font-family: 'Shantell Sans', cursive;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
}

h4{
    margin-bottom: 5px !important;
}
h5{
    margin-top: 5px !important;
}

.intro{
    display: flex;
    background: linear-gradient(#f4c133,#edb11c);
    height: 700px;
}
.intro-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.intro-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}
.intro-image{
    height: 100%;
    margin: 0 auto;
}
.hello{
    font-size: 55px;
    font-weight: 700;
    background-color: white;
    padding: 4px 60% 4px 8px;
}
.title{
    font-size: 32px;
    font-weight: 700;
}
.subtitle{
    font-size: 16px;
    font-weight: 700;
}
.read-me{
    font-size: 21px;
    padding: 4px 25px 4px 25px;
    background-color: white;
    border: 3px solid #000
}
.profile{
    display: flex;
    flex-direction: column;
}
.profile-header{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px
}

.profile-body{
    display: flex;
    justify-content: space-between;
    gap:15px
}
.profile-left{
    width: 500px;
    height: 500px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.paragraph{
    font-size: 18px;
    word-wrap: break-word;
    line-height: 30px;
}
.center{
    
text-align: center;
  text-align-last: center;
}
.profile-middle{
    width: 500px;
    height: 500px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.profile-right{
    width: 500px;
    height: 500px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.sosmed{
    display: flex;
}
.icon{
    width: 32px;
    height: 32px;
    margin: 10px;
}

.bold{
    font-weight: 900;
}
.about{
    display: flex;
    background: linear-gradient(#f2af00,#edb11c);
    height: 700px;
}
.about-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 50%;
    height: 100%;
    padding-left: 150px;
    padding-right: 150px;
}
.about-right{
    width: 50%;
    height: 100%;
}
.capabilities{
    display: flex;
    flex-direction: column;
}
.capabilities-header{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px
}
.capabilities-body{
    display: flex;
    justify-content: space-between;
    gap:15px
}
.capabilities-left{
    width: 500px;
    height: 500px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.capabilities-middle{
    width: 500px;
    height: 500px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.capabilities-right{
    width: 500px;
    height: 500px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}